

.texto{

       font-family:'Palatino','Segoe UI', Tahoma, Verdana, sans-serif;
       font-size: 34px;
       color: #071b4e;

       padding:20px 20px;
       margin-left:10px;
       margin-right: 10px;
       text-align: center;
       word-wrap:normal;
        resize:both;
        }


.texto::first-letter {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: brown;
}
.ersterTitel{

    font-family: "Sofia", sans-serif;
    color:brown;
    font-size: 36px;
    text-shadow:3px 3px 3px #3d4749;
    text-align: center;
}
.unterTitel{

    font-family: "Sofia", sans-serif;
    color:brown;
    font-size:18px;
    text-shadow:1px 1px 1px #3d4749;
    text-align: center;
}
.capNr{
 font-family: Palatino,sans-serif;
font-size: 30px;
text-shadow:2px 2px 2px #3d4749;
text-align: center;
color: brown;
}

.refTitel{
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    text-shadow:1px 1px 1px #3d4749;
    text-align: center;
}





.star{
    text-decoration: none;
    display:flex;   /* ach!*/
    justify-content:center;

}


   em::after{
    content: "";
    visibility:hidden;
    /*text-align: center;*/
}
em::before{
    content: "ab";
    visibility:hidden;
}

.epigrafe{
    font-family:'Palatino','Segoe UI', Tahoma, Verdana, sansserif;
    font-size: 14px;
    font-weight: bold;
    color: #0b0b4b;
    text-align:right;
    padding-right:40px;

}


